venv/
__pycache__/
DyberPet/__pycache__/
DyberPet/DyberSettings/__pycache__/
DyberPet/Dashboard/__pycache__/
data/
dist/
build/
run_DyberPet.exe
run_DyberPet.spec
res/role/纳西妲
res/role/露西亚·深红囚影
res/pet/兰纳罗
res/pet/蕈兽
res/pet/魈鸟
res/role/猫猫
res/items/GenshinImpact
res/items/StarRail
**/.DS_Store
.DS_Store
res/role/流萤
res/role/魈
res/role/流浪者